{% set this = page | default(value = section) %}
{% set url = get_url(path = this.path, trailing_slash = true) %}
{% set card_file = config.extra.logo | default(value = 'card.png') %}
{% set card = get_url(path = this.path ~ card_file) %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ get_url(path = 'main.css') | safe }}">
        <link id="giallo-css" rel="stylesheet" href="{{ get_url(path = 'giallo.css') }}">
        {% if this.extra.favicon %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path = 'favicon.ico') }}">
            {# <link rel="apple-touch-icon" href="{{ get_url(path = 'apple-touch-icon.png') }}" type="image/png"> #}
        {% endif %}
        <title>{{ this.title }}</title>
        <meta property="og:title" content="{{ this.title }}">
        {% set description = page.description | default(value = config.description) %}
        <meta name="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <link rel="canonical" href="{{ url | safe }}">
        <meta property="og:url" content="{{ url | safe }}">
        <meta property="og:image" content="{{ card | safe }}">
        <meta property="og:image:type" content="image/jpg">
        <meta property="og:type" content="website">
        <meta property="og:image:alt" content="The Creusot logo">
        {% block head_includes %}{% endblock head_includes %}
        {% if this.extra.head_includes %}{{ this.extra.head_includes | safe }}{% endif %}
    </head>
    <body>
      {% block main %}{% endblock main %}
      {% block footer %}
          <footer class="footer">
<p>
  <a href="https://github.com/creusot-rs/creusot-rs.github.io">Source code</a>.
  This website is built using <a href="https://www.getzola.org">Zola</a>
  with a theme based on <a href="http://github.com/aterenin/academic-paper/">Academic Paper</a>.
</p>
          </footer>
      {% endblock %}
    </body>

</html>
